@font-face {
    font-family: 'Maneli';
    src: url('Maneli.eot');
    src: url('Maneli.eot?#iefix') format('embedded-opentype'),
        url('Maneli.woff2') format('woff2'),
        url('Maneli.woff') format('woff'),
        url('Maneli.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

