<template>
    <div class="application-background">
        <div :class="`notebook ${pageMode === PageMode.dualPage?'two-page':'single-page'}`">
            <div class="page page-pattern" v-if="pageMode === PageMode.dualPage" style="margin-left: -36px">
                <textarea>

                </textarea>
            </div>
            <div class="shaft">
                <div class="over-fit-shaft">

                </div>
            </div>
            <div class="page page-pattern">
                <textarea>

                </textarea>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator'
    import {PageMode, TypesGetters} from "@/types"


    @Component
    export default class App extends TypesGetters {
        protected pageMode: PageMode = PageMode.dualPage
    }
</script>

<style lang="scss">
    @import "assets/theme";

    * {
        direction: rtl;
        font-family: 'Maneli', serif;

        &::selection {
            background-color: $mainColor;
        }
    }

    textarea, input,
    [contenteditable] {
        background: transparent !important;
        border: 0 !important;
        outline: 0 !important;
        caret-color: $moreDarkerMainColor;
        font-family: 'Maneli', serif;
    }

    .application-background {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        background-color: $mainColor;
        display: flex;
        justify-content: center;
        align-items: center;


        .notebook { /* todo add media query for this */
            &.single-page {
                width: 467px;
                border-radius: 35px 5px 5px 35px;
            }

            &.two-page {
                width: calc(934px + 45px);
                border-radius: 35px;
            }

            height: 700px;
            box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.05), -5px -5px 50px rgba(0, 0, 0, 0.05);
            overflow: hidden;
            display: flex;
            flex-direction: row;

            .shaft {
                height: 100%;
                flex-basis: 50px;
                min-width: 50px;
                overflow-x: visible;
                direction: ltr;
                background-color: $backgroundColor;

                .over-fit-shaft {
                    position: absolute;
                    height: 670px;
                    width: 60px;
                    margin: 15px 20px;
                    background-image: repeating-linear-gradient(
                                    transparent 0px, transparent 25px, $darkColor 27px,
                                    transparent 29px, transparent 32px, $darkColor 34px, transparent 36px);
                }
            }

            .page {
                line-height: 46px;
                padding: 6px 0 20px 0;
                background-color: $backgroundColor;

                &.page-pattern {
                    height: calc(100% - 30px);
                    flex: 1;
                    background-image: repeating-linear-gradient(transparent 0px, transparent 44px, $moreDarkerMainColor 46px);
                }

                textarea {
                    padding-top: 10px;
                    width: 100%;
                    height: 100%;
                    line-height: 46px;
                    font-size: 20px;
                    color: $darkColor;
                    font-weight: bold;
                }
            }
        }
    }
</style>
